{{#if base.length}}

{{#each base}}

<h3>Name: {{title}}</h3>
<p>Price: {{price}}</p>
<img src="{{img}}" alt="img">

 <a href="/admin/edit/{{id}}" >O'zgartirish</a>
 <a href="/admin/delete/{{id}}" >O'chirish</a>

{{/each}}
{{else}}
<p>baza kemadi chota 🧐🤔</p>
{{/if}}


<form action="/" method="POST" >
  <div class="card-body">
    <div class="form-group">
      <label for="maqolaTitle">title</label>
      <input type="text" class="form-control" name="title" id="title" />
    </div>
    <div class="form-group">
      <label for="maqolaText">Price</label>
      <input type="text" class="form-control" name="price" id="price" />
    </div>
    <div class="form-group">
      <label for="maqolaText">img</label>
      <input type="text" class="form-control" name="img" id="img" />
    </div>

  </div>
  <div class="card-footer">
    <button class="btn btn-primary" type="submit">Yaratish</button>
  </div>
</form>
